.sidebar-profile{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
   
}

.main-header .logo .logo-lg{
  width: 151px;
  padding-top: 3px;
}

.sidebar-collapse .wrapper .main-sidebar .sidebar .user-panel .sidebar-profile{

    width: 30px !important;
    height: 30px !important;

}
