.sidebar-profile{
    width: 45px;
    height: 45px;
    /*border-radius: 50%;*/
    overflow: hidden;
    border: solid 3px #d73925;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.user-panel{
  padding: 0px !important;

}
.main-header .logo .logo-lg{
  width: 151px;
  padding-top: 8px;
}
.skin-red .sidebar-menu>li>.treeview-menu{
  background: rgb(221, 75, 57);
  margin: 10px;
}
.skin-red .treeview-menu>li>a {
    color: #fff;
}
.skin-red .treeview-menu>li.active>a, .skin-red .treeview-menu>li>a:hover {
    color: #fff;
    font-weight: bold;
}
.skin-red .sidebar-menu>li:hover>a, .skin-red .sidebar-menu>li.active>a {
    border-radius: 10px;
}
.sidebar-collapse .wrapper .main-sidebar .sidebar .user-panel .sidebar-profile{

    width: 30px !important;
    height: 30px !important;

}
.skin-red .sidebar-menu>li>.treeview-menu{
    border-radius: 10px;
}
